<!DOCTYPE html>
<html>
  <head>
    <title><%= urlBase %></title>
  </head>
  <body>
    <img src="/images/taskAppLogo.png" alt="Logo">
    <h1><%= urlBase %></h1>
    <p>Welcome <%= adminName %></p>
  </body>
</html>
